.cabecalho {
    display: flex;
    align-items: center;
    padding: 1em;
}

.cabecalho__seta {
    width: 1em;
}

.cabecalho__logo {
    width: 5em;
    height: 1.3em;

    margin-left: 1em;
}